<div class="col-lg-9">
	<div class="card">
		<div class="card-header">
			<div class="float-left">
				<h5><i class="fa fa-align-justify"></i> Quality </h5>
			</div>
			<button class="btn btn-primary float-right toggle-form"> Add Quality </button>
		</div>
		<div class="card-body p-0">
			<table class="table table-responsive-sm table-striped" id="quality-list">
				<thead>
					<tr>
						<th width="10%">Quality Id</th>
						<th width="10%" class="text-center">Quality Name</th>
						<th width="10%" class="text-center">Quality Color From </th>
						<th width="10%" class="text-center">Quality Color To </th>
						<th width="10%" class="text-center">Quality Clarity From </th>
						<th width="10%" class="text-center">Quality Clarity To </th>
						<th width="10%"  class="text-center">Display</th>
						<th width="20%" class="text-center">Action</th>
					</tr>
				</thead>
				<tbody id="table-body"></tbody>
			</table>
		</div>
	</div>
</div>


