<div class="col-lg-9">
	<div class="card">
		<div class="card-header">
			<div class="float-left">
				<h5><i class="fa fa-align-justify"></i> Price Range </h5>
			</div>
			<button class="btn btn-primary float-right toggle-form"> Add Price Range </button>
		</div>
		<div class="card-body p-0">
			<table class="table table-responsive-sm table-striped" id="price-range-list">
				<thead>
					<tr>
						<th width="10%">Price Id</th>
						<th width="40%" class="text-center">Price Range</th>
						<th width="20%" class="text-center">Display</th>
						<th width="30%" class="text-center">Action</th>
					</tr>
				</thead>
				<tbody id="table-body"></tbody>
			</table>
		</div>
	</div>
</div>