<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card mx-4">
				<form class="form" name="user-signup" id="registration-form">
					<div class="card-body p-4">
						<h1>Register</h1>
						<div class="mt-4">
							<input type="hidden" name="role_id" value="1">
							<div class="form-group">
								<label>First Name</label>
								<input type="text" class="form-control" name="first_name" placeholder="First Name" data-validation="required" autocomplete="off">
							</div>
							<div class="form-group">
								<label>Last Name </label>
								<input type="text" class="form-control" name="last_name" placeholder="Last Name" data-validation="required" autocomplete="off">
							</div>
							<div class="form-group">
								<label>Email </label>
								<input type="email" class="form-control" name="email" placeholder="Email" data-validation="required email" data-validation-error-msg-email="Please enter valid email." autocomplete="off">
							</div>
							<div class="form-group">
								<label>Password </label>
								<input type="password" name="password_confirmation" class="form-control" id="password_confirmation" placeholder="Password" autocomplete="off" data-validation="required">
							</div>
							<div class="form-group">
								<label>Confirm Password </label>
								<input type="password" name="password" class="form-control" id="password" placeholder="Confirm Password" autocomplete="off" data-validation="required confirmation" data-validation-error-msg-confirmation="Confirm password not match with password.">
							</div>
						</div>
						<div class="text-right">
							<button type="submit" class="btn btn-success btn-signup">Create Account</button>
							<button type="reset"  class="btn btn-default btn-reset">Reset</button>
						</div>
					</div>
				</form>
				<div class="px-4 pb-4 text-right"> 
					<a href="admin/login" class="btn px-4 btn-link px-0">Back to Login</a>
				</div>
			</div>
		</div>
	</div>
</div>