<div class="col-lg-9">
	<div class="card">
		<div class="card-header">
			<div class="float-left">
				<h5><i class="fa fa-align-justify"></i> Coupon </h5>
			</div>
			<button class="btn btn-primary float-right toggle-form"> Add Coupon </button>
		</div>
		<div class="card-body p-0">
			<table class="table table-responsive-sm table-striped" id="coupon-list">
				<thead>
					<tr>
						<th width="30%">Title</th>
						<th width="10%" class="text-center">Inserted Date</th>
						<th width="10%" class="text-center">Expired Date</th>
						<th width="5%"  class="text-center">Display</th>
						<th width="20%" class="text-center">Action</th>
					</tr>
				</thead>
				<tbody id="table-body"></tbody>
			</table>
		</div>
	</div>
</div>