 <div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="float-left">
                <h5><i class="fa fa-align-justify"></i> Orders </h5>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-responsive-sm table-striped" id="order-table">
                <thead>
                    <tr>
                        <th width="11%" class="text-center">Order Id</th>
                        <th width="22%" class="text-center">Contact Details</th>
                        <th width="30%" class="text-center">Address</th>
                        <!--<th width="13%" class="text-center">Time Slot</th>-->
                        <th width="13%" class="text-center">Amount</th>
                        <th width="11%" class="text-center">Payment</th>
                        <th width="18%" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody id="table-body"></tbody>
            </table>
        </div>
    </div>
</div>