<div class="col-lg-8">
    <div class="card">
    	<div class="card-header">
            <div class="float-left">
                <h5><i class="fa fa-align-justify"></i> B2B Discount  </h5>
            </div>
            <button class="btn btn-primary float-right toggle-form"> Add B2B Discount  </button>
        </div>
        <div class="card-body p-0">
          	<div class="table-responsive" style="overflow-x: hidden;">
                <table class="table table-hover" id="sub-category-table" border=1>
                    <thead>
                        <tr>
                            <th width="10%">ID</th>
                            <th width="20%">Country</th>
                            <th width="35%">Price Range</th>
                            <th width="15%"> *Value</th>
                            <th width="15%">Discount %</th>
                            <th class="text-center" width="20%">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="table-body"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>