<div class="col-lg-6 col-md-8 col-sm-12">
	<div class="card">
		<div class="card-header">
			<div class="float-left">
				<h5 id="card-title">Add Product Measurement</h5>
			</div>
			<button class="btn btn-secondary btn-square float-right toggle-form"> Back </button>
		</div>
		<form id="product-measurement-form" name="product-measurement-form" action="javascript:void(0)">
			<input type="hidden" name="measure_id" id="measure_id">
			<div class="card-body">
				<div class="form-group">
					<label class="form-label">Measure Title</label>
					<input type="text" class="form-control" id="measure_title" name="measure_title" placeholder="Measure Title" data-validation="required">	
				</div>
	    	</div>
	    	<div class="card-footer text-right">
	    		<button class="btn btn-primary btn-square" type="submit"> Save </button> &nbsp;
	    		<button class="btn btn-default btn-square" type="reset"> Reset </button>
	    	</div>
		</form>
	</div>
</div>