<div class="col-lg-9">
	<div class="card">
		<div class="card-header">
            <div class="float-left">
                <h5><i class="fa fa-align-justify"></i> Products </h5>
            </div>
            <button class="btn btn-primary float-right toggle-form">Add Product</button>
            <button class="btn btn-success float-right" id="product_excel" style="margin-right: 10px;">Upload Product Excel</button>
        </div>
		<div class="card-body p-0">
			<table class="table table-responsive-sm table-striped" id="product-list">
				<thead>
					<tr>
						<th width="30%">Image</th>
						<th width="20%">Title</th>
						<th width="15%" class="text-center">Actual Price</th>
						<th width="10%" class="text-center">Discount Price</th>
						<th width="5%"  class="text-center">Display</th>
						<th width="20%" class="text-center">Action</th>
					</tr>
				</thead>
				<tbody id="table-body"></tbody>
			</table>
		</div>
	</div>
</div>