<!----footer start------->
<footer class="mt-5">
  <button id="topfun" title="Back to top">
    <i class="fa fa-hand-o-up" style="font-size: 30px;"></i>
  </button>
  <div class="gif">
    <div class="desk-gif-content pt-4">
      <div class="row">
        <div class="col-md-6">
          <div class="desk-gif-content1">
            <p>Hum aasman se
              <span>TAARE</span>
              tod laate hai zameen par,<br> aap jaise
              <span>SITAREo</span> ke liye
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="desk-gif-content2">
            <p>We get STARS like sparkling DIAMONDS
              <span>(TAARE)</span>
              from the galaxy,<br> for CELEBRITIES
              <span>(SITARE)</span>
              like YOU.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="content">
      <div class="logo">
        <a href="home.html"><img src="assets/images/white_logo@x2.png" alt="taare Sitare Logo"
            title="Taare & Sitare"></a>
      </div>
      <div class="row">
        <div class="col-md-2">
          <address>
            <span>taare & Sitare jewelworld Pvt Ltd</span>,<br>
            <strong>Jewelworld</strong> Bldg, Zaveri Bazar,<br>
            <strong> Mumbai 400002</strong><br>
            
            <small><i class="fa fa-envelope-o" aria-hidden="true" style="font-size: 16px;"></i>Email
              <div class="call">
                <p><a href="#" target="_blank"> vinaymutha1962@gmail.com </a></p>
                <p><a href="#" target="_blank">taaresitaredesign@gmail.comm</a></p>
              </div>
            </small>
          </address>
        </div>
        <div class="col-md-2">
          <h4>Contact Us</h4>
            <div class="call">
              <p>(1)<i class="fa fa-whatsapp" aria-hidden="true" style="color: #5ff65f;font-size: 16px;padding: 0 5px 0 0px;"></i> +91 9022223999 
              </p>
              <p>(2) <i class="fa fa-whatsapp" aria-hidden="true" style="color: #5ff65f;font-size: 16px;padding: 0 5px 0 0px;"></i> +91 8097825061</p>
              <p>(3) <i class="fa fa-whatsapp" aria-hidden="true" style="color: #5ff65f;font-size: 16px;padding: 0 5px 0 0px;"></i> +91 8097205279</p>
            </div>
          
          <small>Landline Number
            <div class="call">
              <p>(9122) 22417677</p>
            </div>
          </small>
          <small>Director Marketing
            <div class="call">
              <p> <i class="fa fa-whatsapp" aria-hidden="true" style="color: #5ff65f;font-size: 16px;padding: 0 5px 0 0px;"></i> +91 9322593269</a></p>
            </div>
          </small>
        </div>
        <div class="col-md-2">
          <h4>T&S Advantages</h4>
          <ul>
            <li><i class="fa fa-circle" aria-hidden="true"></i><a href="">About Us</a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i><a href="">Contact Us</a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i><a href="">Refund Policy</a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i><a href="">Buy Back</a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i><a href="">Shipping Policy</a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i><a href="">Return Policy</a></li>
            <li><i class="fa fa-circle" aria-hidden="true"></i><a href="">Price List For Small Diamonds For Jewellery Making</a></li>
          </ul>
        </div>
      
      <div class="col-md-2">
      <div class="backer">
        <p>OUR BANKERS :</p>
        <img src="assets/images/SBI.png" alt="" title="SBI" class="img-fluid">
        <img src="assets/images/kotak.jpg" alt="" title="kotak" class="img-fluid">
      </div>
      </div>
      <div class="col-md-4">
      <div class="backer">
        <p>OUR LOGISTIC :</p>
        <img src="assets/images/sequel1.png" alt="" title="sequel1" class="img-fluid">
        <img src="assets/images/blue dart1.png" alt="" title="blue dart" class="img-fluid">
        <img src="assets/images/bvc_logistic.jpg" alt="" title="bvc_logistic" class="img-fluid">
      </div>
      <div class="backer">
        <p>MEMBER OF:</p>
        <img src="assets/images/jgepc.png" alt="" title=" Gem & Jewellery Export Promotion Council (GJEPC)"
          class="img-fluid">
      </div>
    </div>
  </div>
      <div class="social mt-3 pb-3">
        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>
<script src="https://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="assets/js/script.js" type=""></script>
<script src="assets/js/home.js"></script>
<script type="text/javascript" src="assets/js/image_upload.js"></script>
<!-- <p>Date:10-07-2024</p> -->
</body>
</html>